* {
  border-radius: 10px;
}

body,
h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

em {
  background: rgb(255, 0, 0);
  font-style: normal;
}

/* start jacob's edits */

/* article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

img {
  border-radius: 10px;
}

.background {
  width: 100%;
  background-color: #fff;
  margin-right: 30px;
}

.category {
  margin-top: 30px;
  margin-bottom: 20px;
}

.parent-container {
  display: flex;
  justify-content: space-between;
}

.favorites {
  background-color: #efefef;
  color: black;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #efefef;
  padding: 10px;
  margin-left: 300px;
}

.link-button {
  background-color: #fff;
  width: 130px;
  height: 50px;
  color: black;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #efefef;
  padding: 10px;
  margin-left: 10px;
}

.hit {
  flex: 1; /* Occupy equal width for each hit in a row */
  display: flex;
  align-items: center;
  width: 100%;
  /* background-color: #dcf3fc; */
}

.hit-thumbnail {
  display: flex;
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.hit-thumbnail img {
  display: flex;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.hit-content {
  display: flex;
  flex-grow: 1;
  margin-right: 20px;
  flex-wrap: wrap;
}

.flag {
  margin-left: 10px; /* Add spacing between states_name_en and flag text */
  font-size: .75rem;
}

.flag-top {
  padding: 5px;
  border-radius: 3px;
  background-color: #37c2f9;
  color: white;
}

.flag-bottom {
  padding: 5px;
  border-radius: 3px;
  background-color: #ff8800;
  color: white;
}

.clearRefinements {
  margin-bottom: 10px;
}

.current-refinements {
  margin-bottom: 10px;
}

/* end jacob's edits */

.header {
  display: flex;
  direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  width: 100%;
  padding: 0.5rem 1rem;
  color: #000;
  margin-bottom: 1rem;
  background-color: #dcf3fc;
  font-family: 'Josefin Sans';
}

.header a {
  color: #000000;
  text-decoration: none;
  color: #0c5f7f;
}

.header-title {
  margin-right: 50px;
  font-size: 2rem;
  font-weight: normal;
  color: #1a86b0;
}

.header-subtitle {
  font-size: 1.2rem;
}

.left {
  /* max-width: 300px; */
  margin-right: 20px;
  padding: 1rem;
}

.container {
  display: flex;
  margin: -15 0 0 0;
  padding: 1rem;
}

.flex-container {
  flex-direction: row;
}

.search-panel {
  display: flex;
  width: 100%;
}

.facets-filters {
  border-color: #efefef;
  border-width: 3px;
  border-style: solid;
  padding: 10px;
  color: black;
  /* background-image: linear-gradient(to left, #efefef, #fff); */
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  margin-right: 10px;
}

.middle {
  flex: 3;
}

.searchbox {
  width: 350px;
  margin-right: 100px;
}

.searchbox input {
  height: 50px;
  font-size: 1rem;
}

.pagination {
  margin: 2rem auto auto auto;
  text-align: center;
  list-style-type: none;
  justify-content: center;
}

.trending ol {
  margin: 2rem auto;
  text-align: center;
  list-style-type: none;
}

.trending {
  margin: 0 10 0 10;
  padding: 5 75 0 30;
  min-width: 200px;
  max-width: 300px;
  background-color: #dcf3fc;
  list-style-type: none;
}

.map {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.allhits {
  min-width: 200px;
  /* display: flex; */
}

.ais-Hits {
  width: 100%;
}

li.ais-Hits-item {
  width: 100%;
  margin: 0 0 10 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10;
}

.header-h3 {
  font-family: 'Josefin Sans';
  font-size: 1.2rem;
  text-align: center;
  margin-left: 40px;
  color: #0c5f7f;
}